# ===============================
# General
# ===============================

# PyKotor's Official wiki & documentation
[submodule "wiki"]
	path = wiki
	url = https://github.com/OldRepublicDevs/PyKotor.wiki.git


# ===============================
# Tools
# ===============================

[submodule "Tools/HolocronToolset"]
	path = Tools/HolocronToolset
	url = https://github.com/OldRepublicDevs/HolocronToolset.git
[submodule "Tools/HoloPatcher"]
	path = Tools/HoloPatcher
	url = https://github.com/OldRepublicDevs/HoloPatcher.git
[submodule "Tools/HoloPazaak"]
	path = Tools/HoloPazaak
	url = https://github.com/OldRepublicDevs/HoloPazaak.git
[submodule "Tools/KotorDiff"]
	path = Tools/KotorDiff
	url = https://github.com/OldRepublicDevs/KotorDiff.git
[submodule "Tools/KotorMCP"]
	path = Tools/KotorMCP
	url = https://github.com/OldRepublicDevs/KotorMCP.git


# ===============================
# Vendor
# ===============================

[submodule "vendor/bioware-kaitai-formats"]
	path = vendor/bioware-kaitai-formats
	url = https://github.com/OldRepublicDevs/bioware-kaitai-formats.git
