# ===============================
# General
# ===============================

# PyKotor's Official wiki & documentation
[submodule "wiki"]
	path = wiki
	url = https://github.com/OldRepublicDevs/PyKotor.wiki.git


# ===============================
# KOTOR Modding Tools
# ===============================

[submodule "Tools/BatchPatcher"]
	path = Tools/BatchPatcher
	url = https://github.com/OldRepublicDevs/BatchPatcher.git
[submodule "Tools/HolocronAI"]
	path = Tools/HolocronAI
	url = https://github.com/OldRepublicDevs/HolocronAI.git
[submodule "Tools/HolocronToolset"]
	path = Tools/HolocronToolset
	url = https://github.com/OldRepublicDevs/HolocronToolset.git
[submodule "Tools/HoloPatcher"]
	path = Tools/HoloPatcher
	url = https://github.com/OldRepublicDevs/HoloPatcher.git
[submodule "Tools/HoloPazaak"]
	path = Tools/HoloPazaak
	url = https://github.com/OldRepublicDevs/HoloPazaak.git
[submodule "Tools/KitGenerator"]
	path = Tools/KitGenerator
	url = https://github.com/OldRepublicDevs/KitGenerator.git
[submodule "Tools/KotorDiff"]
	path = Tools/KotorDiff
	url = https://github.com/OldRepublicDevs/KotorDiff.git
[submodule "Tools/KotorMCP"]
	path = Tools/KotorMCP
	url = https://github.com/OldRepublicDevs/KotorMCP.git
[submodule "Tools/GhostScripter-K1-K2"]
	path = Tools/GhostScripter-K1-K2
	url = https://github.com/CrispyW0nton/GhostScripter-K1-K2
[submodule "Tools/GModular"]
	path = Tools/GModular
	url = https://github.com/CrispyW0nton/GModular
[submodule "Kotor-Unity-Project"]
	path = Kotor-Unity-Project
	url = https://github.com/CrispyW0nton/Kotor-Unity-Project
[submodule "Kotor-3D-Model-Converter"]
	path = Kotor-3D-Model-Converter
	url = https://github.com/CrispyW0nton/Kotor-3D-Model-Converter
[submodule "Tools/Kotor-3D-Model-Converter"]
	path = Tools/Kotor-3D-Model-Converter
	url = https://github.com/CrispyW0nton/Kotor-3D-Model-Converter
