# ===============================
# General
# ===============================

# PyKotor's Official wiki & documentation
[submodule "wiki"]
	path = wiki
	url = https://github.com/OldRepublicDevs/PyKotor.wiki.git


# ===============================
# Tools
# ===============================

[submodule "Tools/HolocronToolset"]
	path = Tools/HolocronToolset
	url = https://github.com/OldRepublicDevs/HolocronToolset.git
[submodule "Tools/HoloPatcher"]
	path = Tools/HoloPatcher
	url = https://github.com/OldRepublicDevs/HoloPatcher.git
[submodule "Tools/HoloPazaak"]
	path = Tools/HoloPazaak
	url = https://github.com/OldRepublicDevs/HoloPazaak.git
[submodule "Tools/KotorDiff"]
	path = Tools/KotorDiff
	url = https://github.com/OldRepublicDevs/KotorDiff.git
[submodule "Tools/KotorMCP"]
	path = Tools/KotorMCP
	url = https://github.com/OldRepublicDevs/KotorMCP.git


# ===============================
# Vendor
# ===============================

[submodule "vendor/KotOR.js"]
	path = vendor/KotOR.js
	url = https://github.com/KobaltBlu/KotOR.js
[submodule "vendor/kotorblender"]
	path = vendor/kotorblender
	url = https://github.com/OpenKotOR/kotorblender
[submodule "vendor/kotormax"]
	path = vendor/kotormax
	url = https://github.com/OpenKotOR/kotormax
[submodule "vendor/sotor"]
	path = vendor/sotor
	url = https://github.com/th3w1zard1/sotor
[submodule "vendor/kotor-save-editor"]
	path = vendor/kotor-save-editor
	url = https://github.com/th3w1zard1/kotor-save-editor
[submodule "vendor/kotor-savegame-editor"]
	path = vendor/kotor-savegame-editor
	url = https://github.com/th3w1zard1/kotor-savegame-editor
[submodule "vendor/mdlops"]
	path = vendor/mdlops
	url = https://github.com/th3w1zard1/mdlops
[submodule "vendor/kpatcher"]
	path = vendor/kpatcher
	url = https://github.com/th3w1zard1/kpatcher
[submodule "vendor/reone"]
	path = vendor/reone
	url = https://github.com/modawan/reone
[submodule "vendor/kselinux"]
	path = vendor/kselinux
	url = https://github.com/th3w1zard1/kselinux
[submodule "vendor/xoreos"]
	path = vendor/xoreos
	url = https://github.com/xoreos/xoreos
[submodule "vendor/xoreos-docs"]
	path = vendor/xoreos-docs
	url = https://github.com/xoreos/xoreos-docs
[submodule "vendor/xoreos-tools"]
	path = vendor/xoreos-tools
	url = https://github.com/xoreos/xoreos-tools
[submodule "vendor/Kotor.NET"]
	path = vendor/Kotor.NET
	url = https://github.com/NickHugi/Kotor.NET
	branch = rework-area-designer
